*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
}
main{
    padding: 0 16px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #575757;
}
.nav_left{
    display: flex;
    gap: 10px;
}
.nav_left p{
    font-weight: bold;
    width: 120px;
    display: flex;
    align-items: center;
}
.nav_mid{
    display: flex;
    gap: 20px;
}

.common_btn{
    padding: 16px 32px;
    border-radius: 12px;
    background-color: #e8ba2e;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.hero_section{
    background: url("./assets/Background.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 100px;
    left: 50px;
    text-align: left;
    display: grid;
    color: #fff;
    gap: 25px;
}
.absolute p{
    width: 50%;
}
.absolute h1{
    font-size: 42px;
}
.rating_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #e8ba2e;
    gap: 24px;
    padding: 30px;
    margin-top: 20px;

}
.rating_section h1{
    font-size: 52px;
}
.rating_section small{
    color: #000102;
}
.rating_section div{
    display: grid;
    gap: 12px;
}
.host_cities{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    text-align: justify;
    margin: 50px auto;
}
.host_cities h1{
    text-align: center;
    font-size: 36px;
}
.host_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    gap: 30px;
}
.host_text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.host_text h3{
    font-size: 24px;
}
.host_text ul{
    display: grid;
    gap: 3px;
    padding-left: 20px;
}
.host_btn{
    display: grid;
    justify-content: center;
}
.table_section table , tr ,thead,td{
    text-transform: uppercase;
    font-size: 16;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 50px;
    text-align: center;
}
.table_section thead{
    background-color: #A73131;
    font-weight: bold;
    color: #ffffff;
}
.table_section{
    width: 100%;
    gap: 25px;
    display: grid;
    justify-content: center;

}
.red{
    color: #ba1a1a;
}
.gray{
    color:#505f76;
}
.golden{
    color: #bda004;
}
footer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.footer{
    width: 90%;
    padding: 20px 0px;
    display: grid;
    gap: 30px;
}
.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social_icon{
    font-size: 25px; 
    padding: 8px 10px;
    border-radius: 16px;
}

.fb , .linkedin{
    background-color: blue;
    color: white;
}
.yt{
    background-color: red;
    color: rgb(255, 255, 255);
}
.social_section{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.footer_bottom{
    display: flex;
    justify-content: space-between;
}
.footer_bottom_left , .footer_bottom_right{
    display: flex;
    gap: 10px;
}
hr{
    border: 0.1px solid gray;
}
.fa-circle{
    font-size: 5px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}